#nav{
    width: 960px;
    margin: auto;
    padding: 0 20px;
}
.nav-container{width: 100%;
    background-color: #fff;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: right;
  }
  .Ryan{ float: left;
    padding: 20px;
    color:#fff;
    background-color: #4aaaa5;
  }

  .Ryan h1{
      color: #fff;
      margin: 5px;
    
  }
  li a {
    display: block;
    color: #575555;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 20px;
  }
 
  
  li a:hover:not(.active) {
    background-color:white;
  }
  
  .active {
    background-color: white;
  }
  h1{
      color: #4aaaa5;
  }
  .pic{
      float: left;  
      width: 200px;
      padding-right: 40px;
      height: 225px;
    
        
  }
  .body{
      background-image: url(../images/food.png);
      background-repeat: repeat;
      background-position: right top;
      background-attachment: fixed;
      margin: 0;
      padding: 0;
     }

  .full{
      width: 960px;
      margin: auto;
      background-color: #ffffff;
      overflow: hidden;
      padding: 20px;
      margin-top: 50px;
  }
  .aboutme{
    color: #4aaaa5;
    width: 960px;
    padding: 0px;

  }
  .mainBox{margin: 30px;
  }
  .maincontent{

  }
  .end{
      border-top: #4aaaa5;
      background-color: #666666;
      width: 100%;
  }